{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env":{
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "arrow-body-style": ["off"],
    "arrow-parens": ["error", "always"],
    "comma-dangle":["error", "never"],
    "max-len":["off"],
    "no-console": ["error", { "allow": ["log", "warn", "error", "info"] }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-underscore-dangle": ["error", { "allow": ["_", "__INITIAL_STATE__"] }],
    "no-unused-expressions": ["off", { "allowTernary": true }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "React" }],
    "no-nested-ternary": ["off"],
    "no-param-reassign": ["off"],
    "no-plusplus": ["off"],
    "no-return-assign": ["off"],
    "global-require": ["off"],
    "newline-per-chained-call": ["off"],
    "semi": ["error", "always"],
    "react/no-array-index-key": ["off"],
    "react/no-multi-comp": ["off"],
    "react/jsx-no-bind": ["off"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": ["off"],
    "react/prop-types": ["off"],
    "react/require-default-props": ["off"],
    "jsx-a11y/anchor-has-content": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["error", { "handlers": [ "onMouseDown", "onMouseUp", "onKeyPress", "onKeyDown", "onKeyUp" ] }],
    "jsx-a11y/label-has-for": ["error"],
    "jsx-a11y/alt-text": ["off"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": [ "scripts/**/*.js" ] }],
    "import/prefer-default-export": ["off"]
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
